[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
psycopg2 = "*"
alembic = "*"
sqlalchemy-utils = "*"
asyncpg = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
sqlalchemy = {extras = ["asyncio"], version = "*"}
fastapi = {extras = ["all"], version = "*"}
requests = "*"
sqladmin = "*"

[dev-packages]

[requires]
python_version = "3.11"
