[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
sqlalchemy-utils = "*"
asyncpg = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
sqlalchemy = {extras = ["asyncio"], version = "*"}
fastapi = {extras = ["all"], version = "*"}
requests = "*"
sqladmin = "*"
gunicorn = "*"
psycopg2-binary = "*"
psycopg2 = "*"
python-dotenv = "*"
pytest = "*"
pytest-asyncio = "*"
coverage = "*"
fastapi-cache2 = {extras = ["redis"], version = "*"}
aioredis = "*"
pandas = "*"

[dev-packages]

[requires]
python_version = "3.11"
