{% extends 'base1.html' %}


{% block content %}

    <section class="catalog">
        <div class="container">
            {% for category in category_name %}
                <h2 class="catalog__title">{{category.name}}</h2>
            {% endfor %}
            
            <div class="catalog__inner">
                <aside class="catalog__inner-aside aside-filter">
                    <div class="tabs-wrapper">
                        <div class="tabs aside-filter__tabs">
                            <a href="" class="tab aside-filter__tab tab--active" ><span> Параметры</span></a>
                            <a href="" class="tab aside-filter__tab" ><span>По марке</span></a>
                        </div>
                        <div class="tabs-container">
                            <div class="tabs-content aside-filter__tabs-content tabs-content--active"></div>

                            <form class="aside-filter__form" action="">
                                <li class="aside-filter__item-drop">
                                    <p class="aside-filter__item-title filter__item-drop filter__item-drop--active">Наличие</p>
                                    <div class="aside-filter__content">
                                        <div class="aside-filter__content-box">
                                            <label class="aside-filter__content-label">
                                                <input class="filter-style" type="checkbox">
                                                В наличии
                                            </label>
                                        </div>
                                        <div class="aside-filter__content-box">
                                            <label class="aside-filter__content-label">
                                                <input class="filter-style" type="checkbox">
                                                Под заказ
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li class="aside-filter__item-drop">
                                    <p class="aside-filter__item-title filter__item-drop filter__item-drop--active">Новинки</p>
                                    <div class="aside-filter__content">
                                        <div class="aside-filter__content-box">
                                            <label class="aside-filter__content-label">
                                                <input class="filter-style" name="radio" type="checkbox">
                                                Все
                                            </label>
                                        </div>
                                        <div class="aside-filter__content-box">
                                            <label class="aside-filter__content-label">
                                                <input class="filter-style" name="radio" type="checkbox">
                                                Новинки
                                            </label>
                                        </div>
                                        <div class="aside-filter__content-box">
                                            <label class="aside-filter__content-label">
                                                <input class="filter-style" name="radio" type="checkbox">
                                                Акции
                                            </label>
                                        </div>
                                    </div>
                                </li>
                                <li class="aside-filter__item-drop"></li>
                                <li class="aside-filter__item-list"></li>
                            </form>

                            <div class="tabs-content aside-filter__tabs-content">content-2</div>
                        </div>
                    </div>
                </aside>
                <div class="catalog__inner-list">
                    {% for item in data %}
                        <div class="product-item__wrapper ">
                            <button class="product-item__favorite"></button>
                            
                            <a href="#" class="product-item__notify-link"><span> Сообщить о поступлении</span></a>
                            {% if item.sale == true %}
                                <a class="product-item product-item--sale" href="/product/{{item.category}}/{{item.id}}">
                                    <p class="product-item__hover-text">Посмотреть товар</p>
                                    <img src="{{ url_for('content_img', path='/' + item.image) }}" alt="" class="product-item__img">
                                    <h4 class="products-item__title">{{ item.title }}</h4>
                                    <p class="price product-item__price">{{ item.price }}₽</p>
                                    <p class="product-item__notify">Нет в наличии</p>
                                </a>
                            {% else %}
                                <a class="product-item product-item" href="/product/{{item.category}}/{{item.id}}">
                                    <p class="product-item__hover-text">Посмотреть товар</p>
                                    <img src="{{ url_for('content_img', path='/' + item.image) }}" alt="" class="product-item__img">
                                    <h4 class="products-item__title">{{ item.title }}</h4>
                                    <p class="price product-item__price">{{ item.price }}₽  </p>
                                    <p class="product-item__notify">Нет в наличии</p>
                                    <button class="product-item__cart">
                                        <img src="{{ url_for('static',path='img/cart-white.svg') }}" alt="">
                                    </button>
                                </a>
                            {% endif %}
                        </div>
                    {% endfor %}
                    <div class="pagination">
                        <ul class="pagination-list">
                            {% for pagination in range(1,pages_total) %}
                                <li class="pagination-list__item active"><button class="pagination-list_a" id="{{pagination}}">{{pagination}}</button></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
{% endblock content %}

