{% extends 'base.html' %}


    {% block content %}
    <section class="banner-section page-section">
        <div class="container">
            <div class="banner-section__inner">
                <div class="banner-section__slider">
                    <div class="banner-section__slider-item">
                        <img src="{{ url_for('static',path='img/banner-slider.jpg') }}" alt="">
                    </div>
                    <div class="banner-section__slider-item">
                        <img src="{{ url_for('static',path='img/banner-slider.jpg') }}" alt="">
                    </div>
                    <div class="banner-section__slider-item">
                        <img src="{{ url_for('static',path='img/banner-slider.jpg') }}" alt="">
                    </div>
                    <div class="banner-section__slider-item">
                        <img src="{{ url_for('static',path='img/banner-slider.jpg') }}" alt="">
                    </div>
                    <div class="banner-section__slider-item">
                        <img src="{{ url_for('static',path='img/banner-slider.jpg') }}" alt="">
                    </div>
                </div>
                <a class="banner-section__item sale-item" >
                    <div class="sale-item__top">
                        <div class="sale-item__info">Акция</div>
                        <div class="sale-item__price">
                            <div class="price sale-item__price-new">190 000</div>
                            <div class="price sale-item__price-old">225 000</div>
                        </div>
                    </div>
                    <img src="{{ url_for('static',path='img/content/sale-1.png') }}" alt="" class="sale-item__img">
                    <h5 class="sale-item__title">
                        Лодочный мотор Suzuki DF9.9BRS
                    </h5>
                    <div class="sale-item__footer">
                        Акция действует до
                        <span>31.08.2020</span>
                    </div>
                </a>
            </div>
        </div>
    </section>

    <section class="search page-section">
        <div class="container">
            <div class="search__inner">
                <div class="search__tabs">
                    <a href="#tab-1" class="tab search__tabs-item  tab--active">Поиск по номеру</a>
                    <a href="#tab-2" class="tab search__tabs-item">Поиск по марке</a>
                    <a href="#tab-3" class="tab search__tabs-item">Поиск по названию товара</a>
                </div>
                <div class="search__content">
                    <div id="tab-1" class="tabs-content search__content-item tabs-content--active">
                        <form class="search__content-form" action="">
                            <input class="search__content-input" type="text" placeholder="Введите номер">
                            <button class="search__content-btn" type="submit" >Искать</button>
                        </form>
                    </div>
                    <div id="tab-2" class="tabs-content search__content-item">
                        <form class="search__content-form" action="">
                            <input class="search__content-input" type="text" placeholder="Введите марку">
                            <button class="search__content-btn" type="submit" >Искать</button>
                        </form>
                    </div>
                    <div id="tab-3" class="tabs-content search__content-item">
                        <form class="search__content-form" action="">
                            <input class="search__content-input" type="text" placeholder="Введите название товара">
                            <button class="search__content-btn" type="submit" >Искать</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="categories page-section" >
        <div class="container">
            <div class="categories__inner">
                <a href="/category/3/1" class="categories__item">
                    <div class="categories__item-info">
                        <h4 class="categories__item-title">Квадроциклы</h4>
                        <p class="categories__item-text">Подробнее</p>
                    </div>
                    <div class="categories__item-img">
                        <img src="{{ url_for('static',path='img/categories-1.png') }}" alt="">
                    </div>
                </a>
                <a href="/category/4/1" class="categories__item">
                    <div class="categories__item-info">
                        <h4 class="categories__item-title">Гидроциклы</h4>
                        <p class="categories__item-text">Подробнее</p>
                    </div>
                    <div class="categories__item-img">
                        <img src="{{ url_for('static',path='img/categories-2.png') }}" alt="">
                    </div>
                </a>
                <a href="/category/5/1" class="categories__item">
                    <div class="categories__item-info">
                        <h4 class="categories__item-title">Катера</h4>
                        <p class="categories__item-text">Подробнее</p>
                    </div>
                    <div class="categories__item-img">
                        <img src="{{ url_for('static',path='img/categories-3.png') }}" alt="">
                    </div>
                    
                </a>
                <a href="/category/6/1" class="categories__item">
                    <div class="categories__item-info">
                        <h4 class="categories__item-title">Снегоходы</h4>
                        <p class="categories__item-text">Подробнее</p>
                    </div>
                    <div class="categories__item-img">
                        <img src="{{ url_for('static',path='img/categories-4.png') }}" alt="">
                    </div>
                </a>
                <a href="/category/7/1" class="categories__item">
                    <div class="categories__item-info">
                        <h4 class="categories__item-title">Вездеходы</h4>
                        <p class="categories__item-text">Подробнее</p>
                    </div>
                    <div class="categories__item-img">
                        <img src="{{ url_for('static',path='img/categories-5.png') }}" alt="">
                    </div>
                </a>
                <a href="/category/8/1" class="categories__item">
                    <div class="categories__item-info">
                        <h4 class="categories__item-title">Двигатели</h4>
                        <p class="categories__item-text">Подробнее</p>
                    </div>
                    <div class="categories__item-img">
                        <img src="{{ url_for('static',path='img/categories-6.png') }}" alt="">
                    </div>
                </a>
            </div>
        </div>

    </section>

    <section class="products">
        <div class="container">
            <div class="products__inner">
                <h3 class="product__title">Рюкзаки</h3>
                <div class="tabs-wrapper">
                    <div class="tabs-container products__container">
                        <div id="product-tab-1" class="tabs-content products__content tabs-content--active">
                            <div class="product-slider">
                                {% for item in backpacks %}
                                    <div class="product-slider__item">
                                        <div class="product-item__wrapper">
                                            <button class="product-item__favorite"></button>
                                            <button class="product-item__cart">
                                                <img src="{{ url_for('static',path='img/cart-white.svg') }}" alt="">
                                            </button>
                                            <a href="#" class="product-item__notify-link"><span> Сообщить о поступлении</span></a>
                                            <a class="product-item" href="#">
                                                <p class="product-item__hover-text">Посмотреть товар</p>
                                                <img src="{{ url_for('content_img', path='/' + item.image) }}" alt="" class="product-item__img">
                                                <h4 class="products-item__title">{{item.title}}</h4>
                                                <p class="price product-item__price">{{ item.price }}₽</p>
                                                <p class="product-item__notify">Нет в наличии</p>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="product__more">
                    <a class="product__more-link" href="">Показать еще</a>
                </div>
            </div>
        </div>
    </section>

    <div class="banner">
        <div class="container">
            <a href="" class="banner-link">
                <img src="{{ url_for('static',path='img/banner.jpg') }}" alt="">
            </a>
        </div>  
    </div>

    <section class="products">
        <div class="container">
            <div class="products__inner">
                <h3 class="product__title">C этими товарами покупают</h3>
                <div class="tabs-wrapper">
                    <div class="tabs-container products__container">
                        <div id="popular-tab-1" class="tabs-content products__content tabs-content--active">
                            <div class="product-slider">
                                {% for suit in swimsuits %}
                                    <div class="product-slider__item">
                                        <div class="product-item__wrapper">
                                            <button class="product-item__favorite"></button>
                                            <button class="product-item__cart">
                                                <img src="{{ url_for('static',path='img/cart-white.svg') }}" alt="">
                                            </button>
                                            <a href="#" class="product-item__notify-link"><span> Сообщить о поступлении</span></a>
                                            <a class="product-item" href="#">
                                                <p class="product-item__hover-text">Посмотреть товар</p>
                                                <img src="{{ url_for('content_img', path='/' + suit.image) }}" alt="" class="product-item__img">
                                                <h4 class="products-item__title">{{ suit.title }}</h4>
                                                <p class="price product-item__price">{{ suit.price }}₽</p>
                                                <p class="product-item__notify">Нет в наличии</p>
                                            </a>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {% endblock content %}


