{% extends 'base1.html' %}


   {% block content %}
    
    <section class="product-card">
        <div class="container">
            <div class="product-card__inner">
                <div class="product-card__img-box product-item--sale">
                    <img src="{{ url_for('content_img',path='/'+ product['image'][0]) }}" alt="" class="product-card__img">
                    <p class="product-card__price-new">{{ product['price'][0] }}₽</p>
                    <a href="" class="product-card__link">Нашли дешевле? Снизим цену!</a>
                </div>
                <div class="product-card__content">
                    <h1 class="product-card__title">{{ product['title'][0] }}</h1>
                    <p class="product-card__code">
                        Код товара: {{product['product_code'][0]}}
                    </p>
                    <div class="product-card__buttons">
                        <a class="product-card__icon-favorite"><img src="{{ url_for('static',path='img/heart-icon.svg') }}" alt=""></a>
                        <a class="product-card__icon-comparsion"><img src="{{ url_for('static',path='img/comparsion.svg') }}" alt=""></a>
                        <a class="rate">
                            <div class="rate-yo" data-rateyo-rating="{{product['value'][2]}}"></div>
                        </a>
                    </div>
                    <div class="tabs-wrapper product-card__tabs">
                        <div class="tabs">
                            <a href="" class="tab product-card__tab tab--active">Характеристики</a>
                            <a href="" class="tab product-card__tab">Наличие в магазине</a>
                        </div>
                            <div class="tabs-container">
                                <div class="tabs-content product-card__tab-content tabs-content--active">
                                    <ul class="product-card__list">
                                        <li class="product-card__item">
                                            <div class="product-card__item-left">{{product['title_1'][0]}}</div>
                                            <div class="product-card__item-right">{{product['value'][0]}}</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-card__item-left">{{product['title_1'][3]}}</div>
                                            <div class="product-card__item-right">{{product['value'][3]}}</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-card__item-left">{{product['title_1'][4]}}</div>
                                            <div class="product-card__item-right">{{product['value'][4]}}</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-card__item-left">{{product['title_1'][5]}}</div>
                                            <div class="product-card__item-right">{{product['value'][5]}}</div>
                                        </li>
                                        <li class="product-card__item">
                                            <div class="product-card__item-left">{{product['title_1'][6]}}</div>
                                            <div class="product-card__item-right">{{product['value'][6]}}</div>
                                        </li>
                                    </ul>
                                    <a href="" class="product-card__more">Показать еще</a>
                                    <div class="product-card__btn">
                                        <button class="product-card__btn-add" data-id="{{product['id'][0]}}" data-price="{{ product['price'][0] }}" data-title="{{ product['title'][0] }}" data-img="{{ url_for('content_img',path='/'+ product['image'][0]) }}">Купить</button>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endblock content %}