{% extends 'base1.html' %}

{% block content %}
<section class="profile">
   <div class="container">
      <div class="profile__info">
         <div>
            <img src="{{ url_for('content_img', path='/' + user.image) }}" alt="" class="profile__image">
            <form action="changepfp" method="POST" enctype="multipart/form-data" class="changepfp__form">
               <label class="input-file">
                  <input type="file" name="image">
                  <span class="input-file-btn">Изменить фотографию</span>
                  <input class="submit" class="input-file-save-btn" type="submit" value="✓">
             </label>
            </form>
         </div>
         <ul class="user__list">
            <li class="user__list-item">
               <div class="user__info-left">ID пользователя :</div><div class="user__info-right">{{user.id}}</div>
            </li>
            <li class="user__list-item">
               <div class="user__info-left">Имя пользователя :</div><div class="user__info-right">{{user.username}}</div>
            </li>
            <li class="user__list-item">
               <div class="user__info-left">Email :</div><div class="user__info-right">{{user.email}}</div>
            </li>
            <li class="user__list-item">
               <div class="user__info-left">Дата регистрации :</div><div class="user__info-right">{{user.registered_at}}</div>
            </li>
            <li class="user__list-item">
               {% if user.is_verified == true %}
                  <div class="user__info-left">Подтвержденный пользователь :</div><div class="user__info-right" style="color: green;">Да</div>
               {% else %}
                  <div class="user__info-left">Подтвержденный пользователь :</div><div class="user__info-right" style="color: red;">Нет</div>
               {% endif %}
            </li>
         </ul>
      </div>
   </div>
</section>

{% endblock content %}