<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static',path='css/login.css') }}">
    <title>Registration</title>
</head>
<body>
    <div class="wrapper">
        <div class="login__top">
            <img src="{{ url_for('static',path='img/logo.svg') }}" alt="" class="image">
            <h2 class="title">Регистрация</h2>
        </div>
        <section class="task">
            <form action="auth/register" method="POST" class="form">
                <input class="form-login" type="text" name="login" placeholder="Логин"><br>
                <input class="form-email" type="email" name="email" placeholder="Email"><br>
                <input class="form-password" type="password" name="password" placeholder="Пароль"><br>
                <input class="save-btn" type="submit" value="Sign in">
                <p class="login__redirect">Уже есть аккаунт? <a href="/login">Авторизация</a></p>
            </form>
        </section>
    </div>
</body>
</html>